/* styles/navbar.module.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #33333300; /* Change the background color as needed */
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  
.navbar a {
    color: white; /* Change the font color as needed */
    text-decoration: none;
    font-family: 'Comic Sans MS', sans-serif; /* Change the font family as needed */
    font-size: 20px; /* Change the font size as needed */
    margin-right: 20px; /* Adjust the margin to decrease spacing between words */
}

.navbar a:last-child {
    margin-right: 0; /* Remove right margin for the last link */
}
