/* styles/table.module.css */
.tableContainer {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    font-size: 17px;
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
    color: rgb(255, 255, 255);
  }
  
  .table th {
    background-color: #000000;
    font-family: 'Comic Sans MS', sans-serif;
  }
  